.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
*.db
*.sqlite
backend/node_modules/
backend/venv/
backend/.venv/
backend/instance/
backend/__pycache__/
frontend/node_modules/
frontend/.env
backend/.env
frontend/dist/