@use "../../styles/abstracts/variables" as screens;
@use "../../styles/abstracts/mixins" as mixins;

.container {
  padding: 20px;
  max-width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  .loaderSpace {
    width: 100%;
    position: absolute;
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ptag {
    width: 100%;
    position: absolute;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: larger;
  }
}

.appContainer {
  padding: 20px;
  max-width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  button {
    @include mixins.addFriendsBtn;
    span {
      font-weight: 800;
      @media screen and (max-width: screens.$breakpoint-mobile) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: screens.$breakpoint-tablet) {
  .appContainer {
    max-width: 75vw;
    padding: 10px;
  }
}
@media screen and (max-width: screens.$breakpoint-mobile) {
  .appContainer {
    max-width: 85vw;
    padding: 10px;
  }
}

@media screen and (max-width: screens.$breakpoint-tablet) {
  .container {
    max-width: 75vw;
    padding: 10px;
  }
}
@media screen and (max-width: screens.$breakpoint-mobile) {
  .container {
    max-width: 85vw;
    padding: 10px;
  }
}
